/*default settings*/
html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    text-align: center;
    background-color: #f1f0e2;
}


.mainheader {
    font-size: 12rem;
    padding: 2rem;
    padding: 30px;
    color: #7c826b;
    font-style: italic;
    letter-spacing: 0.5rem;
    color: #7c826b;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 4rem;
    color: #7c826b;
    padding-top: 1.25rem;
    padding-top: 20px;
}

.parent {
    font-size: 500%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin: 2%;
}

img {
    width: 28rem;
    height: auto;
    margin: 4%;
}

.desc {
    font-size: 2rem;
    margin: 0.2em;
    font-family: 'Roboto', sans-serif;
}

.child {
    background-color: white;
    border: 0.625rem solid #7c826b;
    border-radius: 5%;
    min-width: 5%;
    max-width: 100%;
    width: 50rem;
    height: 50rem;
    margin: 1rem;
    padding: 1.25rem;
    box-shadow: 0.625rem 0.438rem #c2cbb2;
}